@model consulta_rapida.Models.Paciente

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar a consulta do paciente @Html.DisplayFor(model => model.nomePaciente)</h4>
<hr />
<div>
    <a asp-action="Index"  class="btn btn-primary">Voltar</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nomePaciente" class="control-label"></label>
                <input asp-for="nomePaciente" class="form-control" />
                <span asp-validation-for="nomePaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horaConsulta" class="control-label"></label>
                <input asp-for="horaConsulta" class="form-control" />
                <span asp-validation-for="horaConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="especialidade" class="control-label">Especialidade</label>
                <select asp-for="especialidade" class="form-control">
                    <option value="teste">Selecione</option>
                </select>
                <span asp-validation-for="especialidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
